* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #8ad5e8;
}

nav {
  padding: 1.5rem;
  width: 100%;
  background-color: #cdcdcd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

li {
  display: inline-block;
  margin: 20px;
  font-family: "Raleway", serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: "Staatliches", cursive;
}

.header-nav {
  font-family: "Staatliches", cursive;
  background-color: #8ad5e8;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

#klädexempel {
  display: inline-block;
}

#klädexempel,
p {
  font-size: 1.5rem;
  margin: 40px;
}

#kontakt,
p {
  font-size: 1.5rem;
}

#storbild {
  font-family: "Raleway", serif;
  text-align: center;
}
